<!DOCTYPE html>
<html lang="en">

<body>
	<nav style="background-color: #f0f0f0;" class="fondoColor alinear posicion">
		<span><a href="../logout/"><img width=4.5% style="padding-bottom: 11px;" class="logo2 espacios"
					title="Cerrar sesión" src="https://i.postimg.cc/KcrPvmG2/cerrar-sesion-1.png" alt=""></a></span>
		<span><a href="/"><img style="margin-top: 6px; margin-left: 6px;" width=16% class="logo"
					src="https://i.postimg.cc/1Rdf4YsX/Mundialgyp.png" alt=""></a>
		</span>
		<span>
			<a href=""><abbr style="text-decoration:none;" class="espacios" title="¡Llámanos o escríbenos!">
					<font face="">Contáctenos</font>
				</abbr></a>
			<a href=""><abbr style="text-decoration:none;" class="espacios" title="¡Conócenos!">
					<font face="">Quiénes somos</font>
				</abbr></a>
			<a href=""><abbr style="text-decoration:none;" class="espacios" title="¿Qué ofrecemos en EcoMind?">
					<font face="">Servicios</font>
				</abbr></a>
			<a href="/"><abbr style="text-decoration:none;" class="espacios" title="Regresa a la pantalla de inicio">
					<font face="">Inicio</font>
				</abbr></a>

		</span>
	</nav>
</body>

</html>