<!DOCTYPE html>
<html lang="en">
<body>
    <nav style="background-color: #f0f0f0;" class="fondoColor alinear posicion"><span><img width=4% title="Créditos" style="margin-top:12px;padding-right:10px" class="logo" src="https://i.postimg.cc/hv0HdXjF/3020135683-41c68d66f7-w.png" alt=""></span>
		<span><a href="/"><img style="margin-top: 6px; margin-left: 6px;" width=16% class="logo" src="https://i.postimg.cc/1Rdf4YsX/Mundialgyp.png"
					alt=""></a></span>
		<span>
			<a href=""><abbr style="text-decoration:none;" class="espacios" title="¡Llámanos o escríbenos!">
					<font face="">Contáctenos</font>
				</abbr></a>
			<a href=""><abbr style="text-decoration:none;" class="espacios" title="¡Conócenos!">
					<font face="">Quiénes somos</font>
				</abbr></a>
			<a href=""><abbr style="text-decoration:none;" class="espacios" title="¿Qué ofrecemos en EcoMind?">
					<font face="">Servicios</font>
				</abbr></a>
			<a href="/"><abbr style="text-decoration:none;" class="espacios" title="Regresa a la pantalla de inicio">
					<font face="">Inicio</font>
				</abbr></a>
		</span>
	</nav>
</body>
</html>