<!DOCTYPE html>
<html lang="en">

<body>
    <div>
        <footer  id="bottom"  data-name="Footer"
            class="o_footer o_colored_level o_cc ">
            <div id="footer" class="footer_f oe_structure oe_structure_solo">
                <br>
                <section class="s_text_block pt40 pb16" data-snippet="s_text_block" data-name="Text"
                    style="background-image: none;" id="Enlaces-de-%C3%8Dnteres" data-anchor="true">
                    <div class="container">
                        <div class="row" data-bs-original-title="" title="" aria-describedby="tooltip38473">
                            <div class="col-lg-2 pt24 pb24 o_colored_level" data-bs-original-title="" title=""
                                aria-describedby="tooltip430956">
                                <h5 style="color: rgb(255, 255, 255);" class="mb-3">Enlaces de interés</h5>
                                <ul class="list-unstyled" data-bs-original-title="" title=""
                                    aria-describedby="tooltip631003">
                                    <li>
                                        <a href="/">Inicio</a>
                                    </li>
                                    <li>
                                        <br>
                                        <img class="img-fluid o_we_custom_image"
                                            src="https://i.postimg.cc/1Rdf4YsX/Mundialgyp.png" alt=""
                                            data-bs-original-title="" title="" aria-describedby="tooltip752695"
                                            data-original-id="200424"
                                            data-original-src="/web/image/200424-9a5cda53/MundialGranosYPanelas_logo1.png"
                                            data-mimetype="image/png" data-resize-width="600" loading="lazy" style="" />
                                        <br />
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 pt24 pb24 o_colored_level">
                                <h5 style="color: rgb(255, 255, 255);">MUNDIAL DE GRANOS Y PANELAS S.A.S</h5>
                                <h5 style="color: rgb(255, 255, 255);" class="mb-3">

                                    Acerca de</h5>
                                <p data-bs-original-title="" title="" aria-describedby="tooltip442113">
                                    <span style="color: rgb(255, 255, 255);">
                                        <font class="bg-o-color-5"><br />Mundial de granos y panelas es una empresa con
                                            una amplia trayectoria dentro del mercado nacional, dedicada a la
                                            distribución de productos básicos de la canasta familiar.&nbsp; Buscamos
                                            garantizar el abastecimiento de alimentos de grandes marcas a un precio
                                            justo.</font>
                                    </span>
                                    <br />
                                </p>
                            </div>
                            <div id="connect" class="col-lg-4 offset-lg-1 pt24 pb24 o_colored_level" style="">
                                <h5 style="color: rgb(255, 255, 255);" class="mb-3">Contacte con nosotros</h5>
                                <ul class="list-unstyled">
                                    <li data-bs-original-title="" title="" aria-describedby="tooltip751278">
                                        <i class="fa fa-comment fa-fw me-2 o_animate o_visible o_anim_fade_in o_anim_from_bottom"
                                            data-bs-original-title="" title="" aria-describedby="tooltip374394"
                                            style="animation-duration: 2s !important;"></i>
                                        <span>
                                            <a href="/contactus" data-bs-original-title="" title="">Contáctenos</a>
                                        </span>
                                    </li>
                                    <li data-bs-original-title="" title="" aria-describedby="tooltip133637">
                                        <i class="fa fa-envelope fa-fw me-2 o_animate o_visible o_anim_bounce_in o_anim_from_right"
                                            data-bs-original-title="" title="" aria-describedby="tooltip418654"
                                            style="animation-duration: 3s !important;"></i>
                                        <span><a href="mailto:info@yourcompany.example.com">
                                                <font style="color: rgb(255, 255, 255);">
                                            </a>info@</font>
                                            <font style="color: rgb(255, 255, 255);" style="color: inherit;"
                                                data-bs-original-title="" title="" aria-describedby="tooltip16273">
                                                mundialgyp.com</font>
                                        </span>
                                    </li>
                                    <li data-bs-original-title="" title="" aria-describedby="tooltip599686">
                                        <i class="fa fa-phone fa-fw me-2 o_animate o_animate_both_scroll o_anim_rotate_in o_anim_from_bottom_left o_visible"
                                            data-bs-original-title="" title="" aria-describedby="tooltip902907"
                                            style="animation-duration: 3s !important;"></i>
                                        <span style="color: rgb(255, 255, 255);" class="o_force_ltr">604 480 17
                                            70</span>
                                    </li>
                                    <li data-bs-original-title="" title="" aria-describedby="tooltip599686"><a
                                            href="https://api.whatsapp.com/send?phone=573194072057&amp;text=Hola"
                                            target="_blank" data-bs-original-title="" title=""><span
                                                class="fa fa-whatsapp o_animate o_animate_both_scroll text-o-color-4 fa-2x o_anim_tada o_visible"
                                                data-bs-original-title="" title="" aria-describedby="tooltip80106"
                                                style="animation-duration: 5s !important;"></span></a>&nbsp;<span
                                            style="color: rgb(255, 255, 255);">
                                            <font class="bg-o-color-5">Escríbenos a nuestro WhatsApp&nbsp; &nbsp;&nbsp;
                                            </font>
                                        </span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div style="background-color: #232a2b;" class="o_footer_copyright o_colored_level o_cc"
                data-name="Copyright">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-sm text-center text-sm-start text-muted">
                            <span style="color: rgb(255, 255, 255);" class="o_footer_copyright_name mr-2">Copyright ©
                                Mundial de granos y panelas
                                S.A.S</span>


                        </div>
                        <div class="col-sm text-center text-sm-end o_not_editable">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>