<!DOCTYPE html>
<html lang="en">

<body>
    <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
        <div id="footer" class="footer_f oe_structure oe_structure_solo">
            <section class="s_text_block pt40 pb16" data-snippet="s_text_block" data-name="Text"
                style="background-image: none;" id="Enlaces-de-%C3%8Dnteres" data-anchor="true">
                <div class="container">
                    <div class="row" data-bs-original-title="" title="" aria-describedby="tooltip38473">
                        <div class="col-lg-2 pt24 pb24 o_colored_level" data-bs-original-title="" title=""
                            aria-describedby="tooltip430956" style="">
                            <h5 class="mb-3">Enlaces de Ínteres</h5>
                            <ul class="list-unstyled" data-bs-original-title="" title=""
                                aria-describedby="tooltip631003">
                                <li>
                                    <a href="/">Inicio</a>
                                </li>
                                <li>
                                    <img class="img-fluid o_we_custom_image"
                                        src="/web/image/858243-757c98ad/MundialGranosYPanelas_logo1.png" alt=""
                                        data-bs-original-title="" title="" aria-describedby="tooltip752695"
                                        data-original-id="200424"
                                        data-original-src="/web/image/200424-9a5cda53/MundialGranosYPanelas_logo1.png"
                                        data-mimetype="image/png" data-resize-width="600" loading="lazy" style="" />
                                    <br />
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 pt24 pb24 o_colored_level">
                            <h5>MUNDIAL DE GRANOS Y PANELAS S.A.S</h5>
                            <h5 class="mb-3">

                                Acerca de</h5>
                            <p data-bs-original-title="" title="" aria-describedby="tooltip442113">
                                <span style="color: rgb(33, 37, 41);background-color: rgb(236, 238, 241)">
                                    <font class="bg-o-color-5"><br />Mundial de granos y panelas es una empresa con
                                        una amplia trayectoria dentro del mercado nacional, dedicada a la
                                        distribución de productos básicos de la canasta familiar.&nbsp; Buscamos
                                        garantizar el abastecimiento de alimentos de grandes marcas a un precio
                                        justo</font>
                                </span>
                                <br />
                            </p>
                        </div>
                        <div id="connect" class="col-lg-4 offset-lg-1 pt24 pb24 o_colored_level" style="">
                            <h5 class="mb-3">Contacte con nosotros</h5>
                            <ul class="list-unstyled">
                                <li data-bs-original-title="" title="" aria-describedby="tooltip751278">
                                    <i class="fa fa-comment fa-fw me-2 o_animate o_visible o_anim_fade_in o_anim_from_bottom"
                                        data-bs-original-title="" title="" aria-describedby="tooltip374394"
                                        style="animation-duration: 2s !important;"></i>
                                    <span>
                                        <a href="/contactus" data-bs-original-title="" title="">Contáctenos</a>
                                    </span>
                                </li>
                                <li data-bs-original-title="" title="" aria-describedby="tooltip133637">
                                    <i class="fa fa-envelope fa-fw me-2 o_animate o_visible o_anim_bounce_in o_anim_from_right"
                                        data-bs-original-title="" title="" aria-describedby="tooltip418654"
                                        style="animation-duration: 3s !important;"></i>
                                    <span><a href="mailto:info@yourcompany.example.com">
                                            <font style="color: inherit;"> </font>
                                        </a>info@<font style="color: inherit;" data-bs-original-title="" title=""
                                            aria-describedby="tooltip16273">mundialgyp.com</font></span>
                                </li>
                                <li data-bs-original-title="" title="" aria-describedby="tooltip599686">
                                    <i class="fa fa-phone fa-fw me-2 o_animate o_animate_both_scroll o_anim_rotate_in o_anim_from_bottom_left o_visible"
                                        data-bs-original-title="" title="" aria-describedby="tooltip902907"
                                        style="animation-duration: 3s !important;"></i>
                                    <span class="o_force_ltr">604 480 17 70</span>
                                </li>
                                <li data-bs-original-title="" title="" aria-describedby="tooltip599686"><a
                                        href="https://api.whatsapp.com/send?phone=573194072057&amp;text=Hola"
                                        target="_blank" data-bs-original-title="" title=""><span
                                            class="fa fa-whatsapp o_animate o_animate_both_scroll text-o-color-4 fa-2x o_anim_tada o_visible"
                                            data-bs-original-title="" title="" aria-describedby="tooltip80106"
                                            style="animation-duration: 5s !important;"></span></a>&nbsp;<span
                                        style="color: rgb(33, 37, 41);background-color: rgb(236, 238, 241)">
                                        <font class="bg-o-color-5">Escríbenos a nuestro WhatsApp&nbsp; &nbsp;&nbsp;
                                        </font>
                                    </span></li>
                            </ul>
                            <div class="s_social_media o_not_editable text-start" data-snippet="s_social_media"
                                data-name="Social Media">
                                <h5 class="s_social_media_title d-none">Síganos</h5>
                                <a href="/website/social/facebook" class="s_social_media_facebook" target="_blank">
                                    <i class="fa rounded-circle shadow-sm fa-facebook"></i>
                                </a>
                                <a href="/website/social/linkedin" class="s_social_media_linkedin" target="_blank">
                                    <i class="fa fa-linkedin rounded-circle shadow-sm"></i>
                                </a>
                                <a href="/website/social/instagram" class="link-800 s_social_media_instagram">
                                    <i class="fa rounded-circle shadow-sm fa-instagram"></i>
                                </a>
                                <a href="/website/social/youtube" class="link-800 s_social_media_youtube">
                                    <i class="fa rounded-circle shadow-sm fa-youtube"></i>
                                </a>
                                <a href="/" class="link-800">
                                    <i class="fa fa-home rounded-circle shadow-sm"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm text-center text-sm-start text-muted">
                        <span class="o_footer_copyright_name mr-2">Copyright © Mundial de granos y panelas
                            S.A.S</span>


                    </div>
                    <div class="col-sm text-center text-sm-end o_not_editable">
                        <div class="o_brand_promotion">
                            Con tecnología de
                            <a target="_blank" class="badge text-bg-light"
                                href="http://www.odoo.com?utm_source=db&amp;utm_medium=website">
                                <img alt="Odoo" src="/web/static/img/odoo_logo_tiny.png" width="62" height="20"
                                    style="width: auto; height: 1em; vertical-align: baseline;" loading="lazy" />
                            </a>
                            -
                            El #1 <a target="_blank"
                                href="http://www.odoo.com/app/ecommerce?utm_source=db&amp;utm_medium=website">Comercio
                                electrónico de código abierto</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>