{% load static %}

<!DOCTYPE html>
<html lang="es" class="cuerpo_resto">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' href='{% static "css/estilos_prueba.css" %}' rel="stylesheet">
    <link rel="shortcut icon" href="https://i.postimg.cc/fLgnjGQb/Mundialgyp-LOGO.png">
    <link href="//db.onlinewebfonts.com/c/c25432bd2c16dfe9cbff2d2968e73fcb?family=AllRoundGothicW01-Demi"
        rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title> Home - MGYP</title>
</head>

<body class="cuerpo_resto">

    {% include "navbar.html" %}

    {% include "barra_navegacion_iniciada.html" %}

    <div class="" style="text-align: center; padding-top:3.5em;">
        <img style="box-shadow: 0px 3px 5px rgb(0, 0, 0)" width=1025 src="https://i.postimg.cc/8z258rrm/Banner-ppal.png"
            border="0px">
    </div>
    <div style="padding-top:4em; padding-bottom: 3em;">
        <div>
            <h2 align="center" style="padding-bottom:0.5em;">
                <font face="Gadugi"> <b>Usuario:</b> {{nombre}} <b> | Rol:</b> {{rol}}</b>
                </font>
            </h2>
        </div>
        <div style="padding-left: 12em; padding-top: 25px; padding-bottom:25px;">
            <table style="text-align:center">
                <tr>
                    <th><a href="../inventario/">
                            <img id="inventario1" style="border: 7px solid rgb(66, 66, 66);
                            background: #636363;
                            border-radius: 1em;
                            padding: 1em;
                            margin-left: 2em;
                            transition: .3s ease all;" width="150" alt="WhatsApp Logo"
                                src="https://i.postimg.cc/qRrrksw4/inventario-disponible.png" /></a></th>
                    <th><a href="../ingreso_productos/">
                            <img id="ingreso1" style="border: 7px solid rgb(66, 66, 66);
                            background: #636363;
                            border-radius: 1em;
                            padding: 1em;
                            margin-left: 2em;
                            transition: .3s ease all;" width="150" alt="WhatsApp Logo"
                                src="https://i.postimg.cc/WtRr1p9B/carretilla.png" /></a></th>
                    <th><a  href="../despacho_productos/">
                            <img id="despacho1" style="border: 7px solid rgb(66, 66, 66);
                            background: #636363;
                            border-radius: 1em;
                            padding: 1em;
                            margin-left: 2em;
                            transition: .3s ease all;" width="150" alt="WhatsApp Logo"
                                src="https://i.postimg.cc/XJD09R37/enviado.png" /></a></th>

                    <th><a  href="../historial/">
                            <img id="historial1" style="border: 7px solid rgb(66, 66, 66);
                            background: #636363;
                            border-radius: 1em;
                            padding: 1em;
                            margin-left: 2em;
                            transition: .3s ease all;" width="150" alt="WhatsApp Logo"
                                src="https://i.postimg.cc/X7YQRrwh/expediente.png" /></a></th>


                    <th><a  href="../productos/">
                            <img id="productos1" style="border: 7px solid rgb(66, 66, 66);
                            background: #636363;
                            border-radius: 1em;
                            padding: 1em;
                            margin-left: 2em;
                            transition: .3s ease all;" width="150" alt="WhatsApp Logo"
                                src="https://i.postimg.cc/SQ1jjXYc/regalo.png" /></a></th>

                </tr>
                <tr align="center">
                    <th style="padding-left: 1.9em; padding-top: 1em;">
                        <font face="" color="#0000" id="inventario_ab" style="font-size: 20px;">Inventario</font>
                    </th>
                    <th style="padding-left: 2em; padding-top: 1em;">
                        <font face="" color="#0000" id="ingreso_ab" style="font-size: 20px;">Ingreso de <br> productos
                        </font>
                    </th>
                    <th style="padding-left: 2.3em;">
                        <font face="" color="#0000" id="despacho_ab" style="font-size: 20px;">Despacho de <br> productos
                        </font>
                    </th>

                    <th style="padding-left: 2.2em;">
                        <font face="" color="#0000" id="historial_ab" style="font-size: 20px;">Historial <br> de
                            acciones</font>
                    </th>

                    <th style="padding-left: 2em;">
                        <font face="" color="#0000" id="productos_ab" style="font-size: 20px;">Productos</font>
                    </th>
                </tr>
            </table>

            <script>
                const inventario3=document.querySelector('#inventario1');
                const ingreso3=document.querySelector('#ingreso1');
                const despacho3=document.querySelector('#despacho1');
                const historial3=document.querySelector('#historial1');
                const productos3=document.querySelector('#productos1');

                const inventario_t=document.querySelector('#inventario_ab');
                const ingreso_t=document.querySelector('#ingreso_ab');
                const despacho_t=document.querySelector('#despacho_ab');
                const historial_t=document.querySelector('#historial_ab');
                const productos_t=document.querySelector('#productos_ab');

                inventario3.addEventListener('mousemove', e => {
                        inventario3.style.transition='.4s ease all';
                        inventario3.style.backgroundColor='#505050';
                        inventario_t.style.transition='.4s ease all';
                        inventario_t.style.color = '#424242';
                    });

                inventario3.addEventListener('mouseout', e => {
                    inventario3.style.transition='.4s ease all';
                    inventario3.style.backgroundColor='#636363';
                    inventario_t.style.transition='.4s ease all';
                    inventario_t.style.color = '#000000';
                });

                ingreso3.addEventListener('mousemove', e => {
                        ingreso3.style.transition='.4s ease all';
                        ingreso3.style.backgroundColor='#505050';
                        ingreso_t.style.transition='.4s ease all';
                        ingreso_t.style.color = '#424242';
                    });
                
                ingreso3.addEventListener('mouseout', e => {
                    ingreso3.style.transition='.4s ease all';
                    ingreso3.style.backgroundColor='#636363';
                    ingreso_t.style.transition='.4s ease all';
                    ingreso_t.style.color = '#000000';
                });

                despacho3.addEventListener('mousemove', e=> {
                        despacho3.style.transition='.4s ease all';
                        despacho3.style.backgroundColor='#505050';
                        despacho_t.style.transition='.4s ease all';
                        despacho_t.style.color = '#424242';
                    });
                
                despacho3.addEventListener('mouseout', e => {
                    despacho3.style.transition='.4s ease all';
                    despacho3.style.backgroundColor='#636363';
                    despacho_t.style.transition='.4s ease all';
                    despacho_t.style.color = '#000000';
                });

                productos3.addEventListener('mousemove', e=> {
                        productos3.style.transition='.4s ease all';
                        productos3.style.backgroundColor='#505050';
                        productos_t.style.transition='.4s ease all';
                        productos_t.style.color = '#424242';
                    });
                
                productos3.addEventListener('mouseout', e => {
                    productos3.style.transition='.4s ease all';
                    productos3.style.backgroundColor='#636363';
                    productos_t.style.transition='.4s ease all';
                    productos_t.style.color = '#000000';
                });
                
                historial3.addEventListener('mousemove', e=> {
                    historial3.style.transition='.4s ease all';
                    historial3.style.backgroundColor='#505050';
                    historial_t.style.transition='.4s ease all';
                    historial_t.style.color = '#424242';
                });

                historial3.addEventListener('mouseout', e => {
                    historial3.style.transition='.4s ease all';
                    historial3.style.backgroundColor='#636363';
                    historial_t.style.transition='.4s ease all';
                    historial_t.style.color = '#000000';
                });

                
            </script>
        </div>
    </div>

    {% include "footer.html" %}

</body>

</html>